body{
    font-family: 'Jost', Robotto, sans-serif;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.nav{
    display:flexbox;
    flex-direction: row;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 20px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.822);
}
.nav li{
    list-style-type: none;
    color: #707070;
    font-size: 20px;
    float: right;
    flex-direction: row;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px; 
}
.navigationbar{
    margin-right: 160px;
}
.nav li a{
    text-decoration: none;
    color: #707070;
}
#navBar{
    justify-content: flex-end;
}
#nav3 a{
    color:#5EAAB0;
}
#homeicon{
    margin-top: 10px;
    margin-left: 138px;
    cursor: pointer;
    animation: home 2s;
}
@keyframes home{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#homeicon a:hover{
    box-shadow: 0 3px 6px #00000029;
}
.nav li a:hover{
    color: #5EAAB0;
}
#nav1, #nav2, #nav3{
    animation: navbar 2s;
}

@keyframes navbar{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
/*header*/
#header-1{
    width: auto;
    position: relative;
    top: 130px;
    background-color: #5EAAB0;
    height: 367px;
    animation: header 1.5s;
}
@keyframes header{
    from{
        height: 1px;
    }
    to{
        height: 367px;
    }
}
.header{
    display: flexbox;
}
.header h2{
    text-align: center;
    position: relative;
    top: 10%;
    color: white;
    animation: about 1s;
}
@keyframes about{
    from{
        letter-spacing: 20px;
        opacity:0
    }
    to{
        letter-spacing: 0;
        opacity:1;
    }
}
.header hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: relative;
    top: 5%;
    animation: line 1s;
}
@keyframes line{
    from{
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
.header img{
    float: right;
    position: absolute;
    width: 450px;
    top: -6.5%;
    left: 55%;
    animation: image 1.5s;
}
@keyframes image{
    from{
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    to{
        opacity:1;
    }
}
.header p{
    width: 30%;
    margin: 20px;
    position: absolute;
    left: 18%;
    top: 30%;
    animation: firstparagraph 1.5s;
}
@keyframes firstparagraph{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.paragraph{
    text-align: justify;
    width: 63%;
    margin: 20px;
    position: absolute;
    top: 75%;
    left: 18%;
    animation:paragraph 1.5s;
}
@keyframes paragraph{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
/*tech*/
.Techskills{
    display: flexbox;
}
.Techskills h2{
    position: absolute;
    left: 46.5%;
    top: 123%;
}
.Techskills hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: absolute;
    top: 130%;
    left:45%
}
#left{
    position: absolute;
    top: 135%;
    left: 28%;
}
#right{
    position: absolute;
    top: 135%;
    left: 60%;
}

/*strength*/
.strength{
    display: flexbox;
}
.strength h2{
    position: absolute;
    left: 44%;
    top: 155%;
}
.strength hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: absolute;
    top: 163%;
    left:45%
}

#leftpart{
    position: absolute;
    top: 168%;
    left: 28%;
}
#rightpart{
    position: absolute;
    top: 168%;
    left: 60%;
}

/*education*/
.education{
    display: flexbox;
    text-align: center;
}
.education h2{
    position: absolute;
    left: 46.5%;
    top: 192%;
}
.education hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: absolute;
    top: 200%;
    left:45%;
}
.education p{
    text-align: center;
    
}
.title h2{
    font-weight: bold;
    position: absolute;
    top: 202%;
    left:1%;
    width: 100%;
    text-align: center;
}
.title p{
    position: absolute;
    top: 208%;
    left:1%;
    width: 100%;
}
.title1 h2{
    font-weight: bold;
    position: absolute;
    top: 214%;
    width: 100%;
    left: 1%;
    text-align: center;
}
.title1 p{
    position: absolute;
    top: 220%;
    left: 1%;
    width: 100%;
}
.title2 h2{
    font-weight: bold;
    position: absolute;
    top: 226%;
    width: 100%;
    left: 1%;
    text-align: center;
}
.title2 p{
    position: absolute;
    top: 232%;
    width: 100%;
    left: 1%;
}

button{
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 40px;
    background-color: #5EAAB0;
    color: white;
    position: absolute;
    top: 245%;
    left: 44%;
    cursor: pointer;
    animation: button 1.5s;
}
button a{
    color: white;
    text-decoration: none;
}
@keyframes button{
   0%{
        transform: translateY(50px);
        background-color:white;
    }
    50%{
        transform: translateY(0);
        background-color: rgb(215, 228, 230);
    }
    100%{ 
        transform: translateY(0);
        background-color: #5EAAB0;
    }
}
button:hover{
    box-shadow: 0 3px 6px #00000029;
    background-color:  #D8AB86;
}

/*footer*/

.contact{
    display: flexbox;
    position: absolute;
    width: 100%;
    height:450px;
    top:260%;
    text-align: center;
    background-color:  #5EAAB0;
}
.contact hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: relative;
    top: -3%;
    margin-right: auto;
    margin-left: auto;
}
.contact h2{
    margin-top: 30px;
    color: white;
}

.contact p{
    width: 35%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.tell{
    display:flex;
}
.row{
    margin-right: auto;
    margin-left: auto;
}
.row img{
    vertical-align: middle;
}
.row h3{
    display: inline-flex;
    font-size: 18px;
}

.email{
    display: flex;
    position: relative;
    top: -5%;
 }
#socialmedia{
    display:inline-flex;
    cursor: pointer;
}
#socialmedia img{
    margin: 10px;
}

/*media quary*/
@media screen and (max-width:600px){

    .nav li{
        font-size: 15px;
        margin-left: 30px;
        margin-top: 10px; 
    }
    .navigationbar{
        margin-right: 80px;
    }
    #homeicon{
        margin-top: 0px;
        margin-left: 30px;
    }

    .Header{
        width: 100%;
        position: relative;
        top: 120px;
    }
    
    #header-1{
        height: 367px;
    }
    .header h2{
        top: 80px;
        left: 75px; 
    }
    .header hr{
        width: 140px;
        position: absolute;
        top: 130px;
        left: 50px;
    }
    .header img{
        float: right;
        position: absolute;
        width: 400px;
        top: 19px;
        left: 60px;
       
    }
    .header p{
        width: 300px;
        margin: 20px;
        position: absolute;
        left: 40px;
        top: 380px;
        font-size: 15px;
        text-align: justify;
    }
    .paragraph{
        width: 300px;
        margin: 20px;
        position: absolute;
        top:698px;
        left: 40px;
        font-size: 15px;
    }

    .Techskills h2{
        position: absolute;
        left: 170px;
        top: 1450px;
    }
    .Techskills hr{
        top: 1500px;
        left: 150px;
    }
    #left{
        position: absolute;
        top: 1540px;
        left: 20px;
    }
    #right{
        position: absolute;
        top: 1540px;
        left: 220px;
    }
    .strength h2{
        position: absolute;
        left: 130px;
        top: 1700px;
    }
    .strength hr{
        position: absolute;
        top: 1755px;
        left: 150px;
    }
    
    #leftpart{
        position: absolute;
        top: 1800px;
        left: 20px;
    }
    #rightpart{
        position: absolute;
        top: 1800px;
        left: 220px;
    }

    .education h2{
        position: absolute;
        left: 170px;
        top: 1990px;
    }
    .education hr{
        position: absolute;
        top: 2040px;
        left: 150px;
    }
    .title h2{
        font-weight: bold;
        position: absolute;
        top: 2080px;
        left:0px;
        width: 100%;
        text-align: center;
    }
    .title p{
        position: absolute;
        top: 2130px;
        width: 100%;
    }
    .title1 h2{
        font-weight: bold;
        position: absolute;
        top: 2190px;
        width: 100%;
        left: 0;
        text-align: center;
    }
    .title1 p{
        position: absolute;
        top: 2240px;
        width: 100%;
    }
    .title2 h2{
        font-weight: bold;
        position: absolute;
        top: 2300px;
        width: 100%;
        left: 0;
        text-align: center;
    }
    .title2 p{
        position: absolute;
        top: 2350px;
        width: 100%;
    }
    button{
        position: absolute;
        top: 2450px;
        left: 120px;
    }


    /*footer*/
    .contact{
        width: 100%;
        height:500px;
        top:2550px;
    }
    .contact hr{
        left: 150px;
    }
    .contact h2{
        position: absolute;
        top: 0px;
        left: 165px;
    }
    .contact h1{
        position: absolute;
        top: 80px;
        left: 140px;
    }
    .contact p{
        width: 300px;
        left: 60px;
        top: 150px;
    }
    #tell p{
        position: absolute;
        left: 90px;
        top: 270px;
    }
    #tell img{
        position: absolute;
        left: 140px;
        top: 285px;
    }
    #email p{
        position: absolute;
        left: 90px;
        top: 310px;
    }
    #email img{
        position: absolute;
        left: 100px;
        top:328px;
    }
    #socialmedia{
        position: absolute;
        left: 140px;
        top: 380px;
    } 
    #socialmedia img{
        margin:10px;
    }
}