body{
    font-family: 'Jost', Robotto, sans-serif;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.nav{
    display:flexbox;
    flex-direction: row;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 20px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.822);
}
.nav li{
    list-style-type: none;
    color: #707070;
    font-size: 20px;
    float: right;
    flex-direction: row;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px; 
}
.navigationbar{
    margin-right: 160px;
}
.nav li a{
    text-decoration: none;
    color: #707070;
}
#navBar{
    justify-content: flex-end;
}
#homeicon{
    margin-top: 10px;
    margin-left: 138px;
    cursor: pointer;
    animation: home 2s;
}
@keyframes home{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#homeicon a:hover{
    box-shadow: 0 3px 6px #00000029;
}
.nav li a:hover{
    color: #5EAAB0;
}
#nav1, #nav2, #nav3{
    animation: navbar 2s;
}

@keyframes navbar{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/*header*/
#header-1{
    width: auto;
    position: relative;
    top: 130px;
    background-color: #5EAAB0;
    height: 367px;
    align-items: center;
    text-align: center;
    animation: header 1.5s;
}
@keyframes header{
    from{
        height: 1px;
    }
    to{
        height: 367px;
    }
}
.header img{
    width: 127px;
    margin-top: 90px;
    margin-bottom: 10px;
    animation: image 1s;
}
@keyframes image{
    from{
        transform: translateY(-700px);
    }
    to{
        transform: translateY(0);
    }
}
.header hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: relative;
    top: 0;
    animation: line 1s;
}
@keyframes line{
    from{
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
.header h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -10px;
    animation: ux 1s;
}
@keyframes ux{
    from{
        letter-spacing: 20px;
        opacity:0
    }
    to{
        letter-spacing: 0;
        opacity:1;
    }
}

#button{
    width: 65px;
    float: right;
    position: fixed;
    top: 80%;
    left: 80%;
    border-radius: 100%;
    display: flex;
    box-shadow: 0 3px 6px #00000029;
    z-index: 100;

}

/*Images*/
.container{
    display:flex;
}

#pic1{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 550px;
    left: 15%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic1 img{
    width: 100%;
    height: 100%;
}
.overflow{
    background-color: rgba(94, 170, 176, 0.74);
    width: 100%;
    height: auto;
    align-items: center;
    opacity:0;
    position: absolute;
    top: 74.5%;
}
.overflow p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    color: white;
}
#pic1:hover .overflow{
    opacity:1;
}

#pic2{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 550px;
    left: 50%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic2 img{
    width: 100%;
    height: 100%;
}
#pic2:hover .overflow{
    opacity:1;
}

#pic3{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 1050px;
    left: 15%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}

#pic3 img{
    width: 100%;
    height: 100%;
}
#pic3:hover .overflow{
    opacity:1;
}

#pic4{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 1050px;
    left: 50%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic4 img{
    width: 100%;
    height: 100%;
}
#pic4:hover .overflow{
    opacity:1;
}

#pic5{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 1550px;
    left: 15%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}

#pic5 img{
    width: 100%;
    height: 100%;
}
#pic5:hover .overflow{
    opacity:1;
}

#pic6{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 1550px;
    left: 50%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic6 img{
    width: 100%;
    height: 100%;
}
#pic6:hover .overflow{
    opacity:1;
}

#pic7{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 2050px;
    left: 15%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic7 img{
    width: 100%;
    height: 100%;
}
#pic7:hover .overflow{
    opacity:1;
}

#pic8{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 2050px;
    left: 50%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic8 img{
    width: 100%;
    height: 100%;
}

#pic8:hover .overflow{
    opacity:1;
}

#pic9{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 2550px;
    left: 15%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic9 img{
    width: 100%;
    height: 100%;
}
#pic9:hover .overflow{
    opacity:1;
}

#pic10{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 2550px;
    left: 50%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic10 img{
    width: 100%;
    height: 100%;
}

#pic10:hover .overflow{
    opacity:1;
}

#pic11{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 3050px;
    left: 15%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic11 img{
    width: 100%;
    height: 100%;
}
#pic11:hover .overflow{
    opacity:1;
}
#pic12{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 3050px;
    left: 50%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic12 img{
    width: 100%;
    height: 100%;
}

#pic12:hover .overflow{
    opacity:1;
}

#pic13{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 3550px;
    left: 15%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic13 img{
    width: 100%;
    height: 100%;
}
#pic13:hover .overflow{
    opacity:1;
}
#pic14{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 3550px;
    left: 50%;
    width: 32%;
    height: auto;
    border: 1px solid #707070;
    cursor: pointer;
}
#pic14 img{
    width: 100%;
    height: 100%;
}

#pic14:hover .overflow{
    opacity:1;
}


/*footer*/

.contact{
    display: flexbox;
    position: absolute;
    width: 100%;
    height:450px;
    top:4050px;
    text-align: center;
    background-color:  #5EAAB0;
}
.contact hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: relative;
    top: -3%;
    margin-right: auto;
    margin-left: auto;
}
.contact h2{
    margin-top: 30px;
    color: white;
}

.contact p{
    width: 35%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.tell{
    display:flex;
}
.row{
    margin-right: auto;
    margin-left: auto;
}
.row img{
    vertical-align: middle;
}
.row h3{
    display: inline-flex;
    font-size: 18px;
}

.email{
    display: flex;
    position: relative;
    top: -5%;
 }
 

#socialmedia{
    display:inline-flex;
    cursor: pointer;
}
#socialmedia img{
    margin: 10px;
}

/*media quary*/
@media screen and (max-width:600px){
    .nav li{
        font-size: 15px;
        margin-left: 30px;
        margin-top: 10px; 
    }
    .navigationbar{
        margin-right: 80px;
    }
    #homeicon{
        margin-top: 0px;
        margin-left: 30px;
    }

    .header{
        width: auto;
        position: relative;
        top: 120px;
        text-align: center;
    }
    #headerPart{
        height: 367px;
    }
    .header hr{
        width: 120px;
        position: relative;
        top: 10px;
        left: 0px;
    }
    .header h2{
        top: -10px;
        font-size: 25px;
        font-weight: bold;
    } 

/*Images*/
#pic1{
    top: 550px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic1 img{
    width: 300px;
    height: 300px;
}
.overflow{
    width: 301px;
    height: 90px;
    position: absolute;
    top: 210px;
}
.overflow p{
    font-size: 15px;
    padding: 0px 30px;
}
#pic2{
    top: 910px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic2 img{
    width: 300px;
    height: 300px;
}
#pic3{
    top: 1280px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic3 img{
    width: 300px;
    height: 300px;
}
#pic4{
    top: 1650px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic4 img{
    width: 300px;
    height: 300px;
}
#pic5{
    top: 2020px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic5 img{
    width: 300px;
    height: 300px;
}
#pic6{
    top: 2390px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic6 img{
    width: 300px;
    height: 300px;
}
#pic7{
    top: 2760px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic7 img{
    width: 300px;
    height: 300px;
}
#pic8{
    top: 3130px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic8 img{
    width: 300px;
    height: 300px;
}
#pic9{
    top: 3500px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic9 img{
    width: 300px;
    height: 300px;
}
#pic10{
    top: 3870px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic10 img{
    width: 300px;
    height: 300px;
}
#pic11{
    top: 4240px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic11 img{
    width: 300px;
    height: 300px;
}
#pic12{
    top: 4610px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic12 img{
    width: 300px;
    height: 300px;
}
#pic13{
    top: 4980px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic13 img{
    width: 300px;
    height: 300px;
}
#pic14{
    top: 5350px;
    left: 60px;
    width: 300px;
    height: 300px;
}
#pic14 img{
    width: 300px;
    height: 300px;
}

  
}