body{
    font-family: 'Jost', Robotto, sans-serif;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.nav{
    display:flexbox;
    flex-direction: row;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 20px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.822);
}
.nav li{
    list-style-type: none;
    color: #707070;
    font-size: 20px;
    float: right;
    flex-direction: row;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px; 
}
.navigationbar{
    margin-right: 160px;
}
.nav li a{
    text-decoration: none;
    color: #707070;
}
#navBar{
    justify-content: flex-end;
}
#homeicon{
    margin-top: 10px;
    margin-left: 138px;
    cursor: pointer;
    animation: home 2s;
}
@keyframes home{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#homeicon a:hover{
    box-shadow: 0 3px 6px #00000029;
}
.nav li a:hover{
    color: #5EAAB0;
}
#nav1, #nav2, #nav3{
    animation: navbar 2s;
}

@keyframes navbar{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


/*header*/
#header-1{
    width: auto;
    position: relative;
    top: 130px;
    background-color: #5EAAB0;
    height: 367px;
    align-items: center;
    text-align: center;
    animation: header 1.5s;
}

@keyframes header{
    from{
        height: 1px;
    }
    to{
        height: 367px;
    }
}
.header img{
    width: 127px;
    margin-top: 90px;
    margin-bottom: 10px;
    animation: image 1s;
}
@keyframes image{
    from{
        transform: translateY(-700px);
    }
    to{
        transform: translateY(0);
    }
}
.header hr{
    border: 1px solid #D8AB86;
    width: 180px;
    animation: line 1s;
}
@keyframes line{
    from{
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
.header h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -10px;
    animation: ux 1s;
}
@keyframes ux{
    from{
        letter-spacing: 20px;
        opacity:0
    }
    to{
        letter-spacing: 0;
        opacity:1;
    }
}
/*videos*/
.videocontainer{
    display:flexbox;
    flex-direction: row;
   justify-content: space-between;
   text-align: center;
   cursor: pointer;
}
.video1{
    position: absolute;
    top: 550px;
    left: 160px;
    border: solid 1px darkgrey;
}
.video1 p{
    font-size: 15px;
    color: #D8AB86;
}

.video2{
    position: absolute;
    top: 550px;
    left: 780px;
    border: solid 1px darkgrey;
}
.video2 p{
    font-size: 15px;
    color: #D8AB86;
}

.video3{
    position: absolute;
    top: 950px;
    left: 160px;
    border: solid 1px darkgrey;
}
.video3 p{
    font-size: 15px;
    color: #D8AB86;
}

.video4{
    position: absolute;
    top: 950px;
    left: 780px;
    border: solid 1px darkgrey;
}
.video4 p{
    font-size: 15px;
    color: #D8AB86;
}

.video5{
    position: absolute;
    top: 1350px;
    left: 160px;
    border: solid 1px darkgrey;
}
.video5 p{
    font-size: 15px;
    color: #D8AB86;
}

.video6{
    position: absolute;
    top: 1350px;
    left: 780px;
    border: solid 1px darkgrey;
}
.video6 p{
    font-size: 15px;
    color: #D8AB86;
}

.video7{
    position: absolute;
    top: 1750px;
    left: 160px;
    border: solid 1px darkgrey;
}
.video7 p{
    font-size: 15px;
    color: #D8AB86;
}

.video8{
    position: absolute;
    top: 1750px;
    left: 780px;
    border: solid 1px darkgrey;
}
.video8 p{
    font-size: 15px;
    color: #D8AB86;
}

/*footer*/

.contact{
    display: flexbox;
    position: absolute;
    width: 100%;
    height:451px;
    top:2180px;
    text-align: center;
    background-color:  #5EAAB0;
}
.contact hr{
    border: 1px solid #D8AB86;
    width: 140px;
    position: absolute;
    top: 60px;
    left: 640px;
}
.contact h2{
    margin-top: 30px;
    color: white;
}
.contact h1{
    position: absolute;
    top: 80px;
    left: 630px;
}
.contact p{
    width: 500px;
    text-align: center;
    position: absolute;
    left: 480px;
    top: 150px;
}
#tell p{
    position: absolute;
    left: 480px;
    top: 250px;
}
#tell img{
    position: absolute;
    left: 640px;
    top: 265px;
}
#email p{
    position: absolute;
    left: 480px;
    top: 280px;
}
#email img{
    position: absolute;
    left: 600px;
    top:295px;
}
#socialmedia{
    display:inline-flex;
    position: absolute;
    left: 640px;
    top: 360px;
    cursor: pointer;
}
#socialmedia img{
    margin: 10px;
}
/*media quary*/
@media screen and (max-width:600px){
    .nav li{
        font-size: 15px;
        margin-left: 30px;
        margin-top: 10px; 
    }
    .navigationbar{
        margin-right: 80px;
    }
    #homeicon{
        margin-top: 0px;
        margin-left: 30px;
    }

    .header{
        width: auto;
        position: relative;
        top: 120px;
        text-align: center;
    }
    #headerPart{
        height: 367px;
    }
    .header hr{
        width: 120px;
        position: relative;
        top: 10px;
        left: 0px;
    }
    .header h2{
        top: -10px;
        font-size: 25px;
        font-weight: bold;
    } 
    /*videos*/
video{
    width:350px;
}
.video1{
    position: absolute;
    top: 550px;
    left: 35px;
    border: solid 1px darkgrey;
}
.video2{
    position: absolute;
    top: 870px;
    left: 35px;
    border: solid 1px darkgrey;
}
.video3{
    position: absolute;
    top: 1190px;
    left: 35px;
    border: solid 1px darkgrey;
}
.video4{
    position: absolute;
    top: 1510px;
    left: 35px;
    border: solid 1px darkgrey;
}
.video5{
    position: absolute;
    top: 1830px;
    left: 35px;
    border: solid 1px darkgrey;
}
.video6{
    position: absolute;
    top: 2150px;
    left: 35px;
    border: solid 1px darkgrey;
}
.video7{
    position: absolute;
    top: 2470px;
    left: 35px;
    border: solid 1px darkgrey;
}
.video8{
    position: absolute;
    top: 2790px;
    left: 35px;
    border: solid 1px darkgrey;
}
 /*footer*/
 .contact{
    width: 100%;
    height:500px;
    top: 3120px;
}
.contact hr{
    left: 150px;
}
.contact h1{
    position: absolute;
    top: 80px;
    left: 130px;
}
.contact p{
    width: 300px;
    left: 55px;
    top: 150px;
}
#tell p{
    position: absolute;
    left: 90px;
    top: 270px;
}
#tell img{
    position: absolute;
    left: 140px;
    top: 285px;
}
#email p{
    position: absolute;
    left: 90px;
    top: 310px;
}
#email img{
    position: absolute;
    left: 110px;
    top:328px;
}
#socialmedia{
    position: absolute;
    left: 140px;
    top: 380px;
} 

}
