body{
    font-family: 'Jost', Robotto, sans-serif;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.nav{
    display:flexbox;
    flex-direction: row;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 20px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.822);
}
.nav li{
    list-style-type: none;
    color: #707070;
    font-size: 20px;
    float: right;
    flex-direction: row;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px; 
}
.navigationbar{
    margin-right: 160px;
}
.nav li a{
    text-decoration: none;
    color: #707070;
}
#navBar{
    justify-content: flex-end;
}
#homeicon{
    margin-top: 10px;
    margin-left: 138px;
    cursor: pointer;
    animation: home 2s;
}
@keyframes home{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#homeicon a:hover{
    box-shadow: 0 3px 6px #00000029;
}
.nav li a:hover{
    color: #5EAAB0;
}
#nav1, #nav2, #nav3{
    animation: navbar 2s;
}

@keyframes navbar{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


/*header*/
#header-1{
    width: auto;
    position: relative;
    top: 130px;
    background-color: #5EAAB0;
    height: 367px;
    align-items: center;
    text-align: center;
    animation: header 1.5s;
}

@keyframes header{
    from{
        height: 1px;
    }
    to{
        height: 367px;
    }
}
.header img{
    width: 127px;
    margin-top: 90px;
    margin-bottom: 10px;
    animation: image 1s;
}
@keyframes image{
    from{
        transform: translateY(-700px);
    }
    to{
        transform: translateY(0);
    }
}
.header hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: relative;
    top: 0;
    animation: line 1s;
}
@keyframes line{
    from{
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
.header h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -10px;
    animation: ux 1s;
}
@keyframes ux{
    from{
        letter-spacing: 20px;
        opacity:0
    }
    to{
        letter-spacing: 0;
        opacity:1;
    }
}
/*videos*/
.videocontainer{
    display:flexbox;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}
.video1{
    position: absolute;
    top: 550px;
    left: 11%;
    border: solid 1px darkgrey;
}
.video1 p{
    font-size: 15px;
    color: #D8AB86;
}

.video2{
    position: absolute;
    top: 550px;
    left: 55%;
    border: solid 1px darkgrey;
}
.video2 p{
    font-size: 15px;
    color: #D8AB86;
}

.video3{
    position: absolute;
    top: 950px;
    left: 11%;
    border: solid 1px darkgrey;
}
.video3 p{
    font-size: 15px;
    color: #D8AB86;
}

.video4{
    position: absolute;
    top: 950px;
    left: 55%;
    border: solid 1px darkgrey;
}
.video4 p{
    font-size: 15px;
    color: #D8AB86;
}

.video5{
    position: absolute;
    top: 1350px;
    left: 11%;
    border: solid 1px darkgrey;
}
.video5 p{
    font-size: 15px;
    color: #D8AB86;
}

.video6{
    position: absolute;
    top: 1350px;
    left: 55%;
    border: solid 1px darkgrey;
}
.video6 p{
    font-size: 15px;
    color: #D8AB86;
}

.video7{
    position: absolute;
    top: 1750px;
    left: 11%;
    border: solid 1px darkgrey;
}
.video7 p{
    font-size: 15px;
    color: #D8AB86;
}

.video8{
    position: absolute;
    top: 1750px;
    left: 55%;
    border: solid 1px darkgrey;
}
.video8 p{
    font-size: 15px;
    color: #D8AB86;
}

/*footer*/

.contact{
    display: flexbox;
    position: absolute;
    width: 100%;
    height:450px;
    top:2150px;
    text-align: center;
    background-color:  #5EAAB0;
}
.contact hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: relative;
    top: -3%;
    margin-right: auto;
    margin-left: auto;
}
.contact h2{
    margin-top: 30px;
    color: white;
}

.contact p{
    width: 35%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.tell{
    display:flex;
}
.row{
    margin-right: auto;
    margin-left: auto;
}
.row img{
    vertical-align: middle;
}
.row h3{
    display: inline-flex;
    font-size: 18px;
}

.email{
    display: flex;
    position: relative;
    top: -5%;
 }
 

#socialmedia{
    display:inline-flex;
    cursor: pointer;
}
#socialmedia img{
    margin: 10px;
}
/*media quary*/
@media screen and (max-width:600px){
    .nav ul{
        position: absolute;
        top: 30px;
        display: flex-inverse;
        justify-content: space-around;
    }
    .nav li{
        flex-direction: row;
        margin-left: 40px;
        margin-top: 10px; 
        font-size: 15px;
        align-content: center;
    }
    
    #homeicon{
        margin-top: 0px;
        margin-left: 40px;
    }
    .nav img{
        position: absolute;
        left: -9px;
        top: 45px;
        width: 30px;
    }
    .header hr{
        width: 25%;
        
    }
    /*videos*/
video{
    width:300px;
}
.videocontainer{
    display:flexbox;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  
    
}
.video1{
    position: absolute;
    top: 550px;
    left: 12%;
    /* left: 35px; */
}
.video2{
    position: absolute;
    top: 820px;
    left: 12%;
}
.video3{
    position: absolute;
    top: 1090px;
    left: 12%;
}
.video4{
    position: absolute;
    top: 1360px;
    left: 12%;
}
.video5{
    position: absolute;
    top: 1630px;
    left: 12%;
}
.video6{
    position: absolute;
    top: 1900px;
    left: 12%;
}
.video7{
    position: absolute;
    top: 2170px;
    left: 12%;
}
.video8{
    position: absolute;
    top: 2440px;
    left: 12%;
}
 /*footer*/
 .contact{
    height:550px;
    top:2750px;
}
.contact hr{
    width: 25%;
}
.contact p{
    width: 55%;
}

}
