body{
    font-family: 'Jost', Robotto, sans-serif;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.nav{
    display:flexbox;
    flex-direction: row;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 20px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.822);
}
.nav li{
    list-style-type: none;
    color: #707070;
    font-size: 20px;
    float: right;
    flex-direction: row;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px; 
}
.navigationbar{
    margin-right: 160px;
}
.nav li a{
    text-decoration: none;
    color: #707070;
}
#navBar{
    justify-content: flex-end;
}
#homeicon{
    margin-top: 10px;
    margin-left: 138px;
    cursor: pointer;
    animation: home 2s;
}
@keyframes home{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#homeicon a:hover{
    box-shadow: 0 3px 6px #00000029;
}
.nav li a:hover{
    color: #5EAAB0;
}
#nav1, #nav2, #nav3{
    animation: navbar 2s;
}

@keyframes navbar{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


/*header*/
.Header{
    display: flexbox;
    width: 100%;
    position: absolute;
    top: 130px;
    text-align: center;
    animation: back 1s;
}
#headerPart{
    background-color: #5EAAB0;
    height: 367px;
    animation: header 1.5s;
}
@keyframes header{
    from{
        height: 1px;
    }
    to{
        height: 367px;
    }
}
.Header hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: absolute;
    top: 22%;
    left: 45%;
    animation: line 1s;
}
@keyframes line{
    from{
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
.Header h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 3%;
    animation: hello 1s;
}
@keyframes hello{
    from{
        letter-spacing: 20px;
        opacity:0
    }
    to{
        letter-spacing: 0;
        opacity:1;
    }
}
.Header h2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.paragraph{
    font-size: 20px;
    color: white;
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-kerning: auto;
}
button{
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 40px;
    background-color: #5EAAB0;
    color: white;
    text-align: center;
    margin-top: 2%;
    cursor: pointer;
    animation: button 1.5s;
}
button a{
    color: white;
    text-decoration: none;
}
@keyframes button{
   0%{
        transform: translateY(50px);
        background-color:white;
    }
    50%{
        transform: translateY(0);
        background-color: rgb(215, 228, 230);
    }
    100%{ 
        transform: translateY(0);
        background-color: #5EAAB0;
    }
}
button:hover{
    box-shadow: 0 3px 6px #00000029;
    background-color:  #D8AB86;
}

/*buttons*/

.buttons{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   text-align: center;
   justify-items: center;
   width: 100%;
   height: 260px;
   cursor: pointer;
   background-color: white;
}
.buttons img{
    width: 105px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 100%;
    border: 0 solid white;
}
.buttons p{
    color: #AC774C;
}
.overlay , .overlay2 , .overlay3{
    opacity:0;
    
}
.ux:hover .overlay{
opacity:1;
}
.overlay{
    position: absolute;
    top:0px;
    left:0px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.overlay p{
    color:  #5EAAB0;
    font-weight: bold;
}
.overlay a{
    text-decoration: none;
}

.ux, .graphic, .motion{
    margin-right: 100px;
}
.ux{
    animation: ux 1s;
    position: absolute;
   top: 77%;
   left:30%;
}
@keyframes ux{
    from{
        top: 800px;
    }
    to{
        top: 540px;
    } 
}
.graphic:hover .overlay2{
    opacity:1;
    }
    .overlay2{
        position: absolute;
        top:0px;
        left:0px;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }
    .overlay2 p{
        color:  #5EAAB0;
        font-weight: bold;
    }
    .overlay2 a{
        text-decoration: none;
    }
.graphic{
    animation: graphic 1.5s;
    position: absolute;
   top: 77%;
   left:47%;
}
@keyframes graphic{
    from{
        top: 900px;
    }
    to{
        top: 540px;
    } 
}
.motion:hover .overlay3{
    opacity:1;
    }
    .overlay3{
        position: absolute;
        top:0px;
        left:0px;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }
    .overlay3 p{
        color:  #5EAAB0;
        font-weight: bold;
    }
    .overlay3 a{
        text-decoration: none;
    }
.motion{
    animation: motion 2s;
    position: absolute;
    top: 77%;
   left:65%;
}
@keyframes motion{
    from{
        top: 1000px;
    }
    to{
        top: 540px;
    } 
}

/*footer*/

.contact{
    display: flexbox;
    position: absolute;
    width: 100%;
    height:450px;
    top:740px;
    text-align: center;
    background-color:  #5EAAB0;
}
.contact hr{
    border: 1px solid #D8AB86;
    width: 10%;
    position: relative;
    top: -3%;
    margin-right: auto;
    margin-left: auto;
}
.contact h2{
    margin-top: 30px;
    color: white;
}

.contact p{
    width: 35%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.tell{
    display:flex;
}
.row{
    margin-right: auto;
    margin-left: auto;
}
.row img{
    vertical-align: middle;
}
.row h3{
    display: inline-flex;
    font-size: 18px;
}

.email{
    display: flex;
    position: relative;
    top: -5%;
 }
 

#socialmedia{
    display:inline-flex;
    cursor: pointer;
}
#socialmedia img{
    margin: 10px;
}


/*media Quary*/
@media screen and (max-width:600px){

    .nav li{
        font-size: 15px;
        margin-left: 30px;
        margin-top: 10px; 
    }
    .navigationbar{
        margin-right: 50px;
    }
    #homeicon{
        margin-top: 0px;
        margin-left: 0px;
    }
    .Header{
        width: auto;
        position: relative;
        top: 120px;
        text-align: center;
        
    }
    #headerPart{
        height: 367px;
    }
    .Header hr{
        width: 120px;
        position: relative;
        top: 70px;
        left: auto;
    }
    .Header h1{
        top: 0px;
        position: relative;
        left:8px;
    }
    .Header h2{
        top: -10px;
        font-size: 25px;
        font-weight: bold;
    }
    .paragraph{
        width: 60%; 
        display:flex;
        text-align: center; 
        position: relative;
        top: -20px;
        left: 0;
        margin-right: auto;
        margin-left: auto;
    }
    button{
        position: relative;
        top: 40px;
        left: 0px;
    }
    .buttons{
       display:inline-flexbox;
       width:60%;
       height: auto;
       margin-left: auto;
       margin-right: auto;
    }
    .buttons img{
        width: 85px;
    }
    .ux, .graphic, .motion{
        margin-right: 50px;
    }
    .ux{
       position: relative;
       top: 180px;
       left:0px;
    }
    .graphic{
       position: relative;
       top: 180px;
       left:auto;
    }
   
    .motion{
       position: relative;
       top: 180px;
       left:auto;
    }
/*footer*/
    .contact{
        width: 100%;
        height:500px;
        text-align: center;
    }
    .contact hr{
        width: 120px;
        position: relative;
        top: -18px;
        left: auto;
    }
    .contact h1{
        position: relative;
        top: 0px;
        left: 0px;
    }
    .contact p{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        position: relative;
        left: auto;
        top: 10px;
    }
    #tell p{
        position: absolute;
        left: 90px;
        top: 270px;
    }
    #tell img{
        position: absolute;
        left: 140px;
        top: 285px;
    }
    #email p{
        position: absolute;
        left: 90px;
        top: 310px;
    }
    #email img{
        position: absolute;
        left: 110px;
        top:328px;
    }
    #socialmedia{
        position: relative;
        left: 0px;
        top: 120px;
    } 
}
